.footer-container {
    background-color: blue;
    margin-top: 20px;
    width: 100%;
    
}

.logo-container p {
    text-decoration: underline;
}

.logo-container a img {
    padding-left: 10px;
    padding-bottom: 10px;
    height: 40px;
}